{{ if .Site.Data.homepage.experience.enable }}
<section class="section" id="experience">
  <div class="container">
        <h2 class="rad-animation-group rad-fade-down rad-waiting rad-animate">{{ .Site.Data.homepage.experience.title | safeHTML }}</h2>

    <div class="row row--padded rad-animation-group rad-fade-down flex-column-reverse flex-md-row rad-waiting rad-animate" style="animation-delay: 0.1s;">
      <div class="col-12 col-md-12 mt-4 mt-md-0 my-md-auto">
              <p class="lead">
                  {{ .Site.Data.homepage.experience.description | safeHTML }}
              </p>
              <web-component-embed id="0nlmz4" app_slug="countdown-timer"></web-component-embed><script src="https://app.powr.io/assets/webcomponent.js"></script>
      </div>
    </div>
  </div>
</section>
{{ end }}
