{{ if .Site.Data.homepage.showcase.enable }}
<section class="rad-showcase rad-showcase--index rad-animation-group section--border-bottom">
  <div class="container rad-fade-down">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <h1 class="display-1">
          {{ .Site.Data.homepage.showcase.title }}
          <br />
          <span
            >{{ .Site.Data.homepage.showcase.subtitle }}</span
          >
        </h1>
        <p class="lead">
          {{ .Site.Data.homepage.showcase.description | safeHTML }}
        </p>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6" style="max-width:50%;  min-width: 50%;">
            {{ .Site.Data.homepage.showcase.content | safeHTML }}
      </div>
    </div>
    <div class="row platform-links">
      <div class="col-12">
        {{ range .Site.Data.homepage.showcase.socialLinks }}
        <a href="{{ .URL | absURL }}" target="_blank"
          ><i class="icon-{{ .icon }}-line"></i
        ></a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="rad-showcase__bg rad-showcase__bg--mobile" >
         <p class="lead">
            {{ .Site.Data.homepage.showcase.content | safeHTML }}
        </p>
  </div>
</section>
{{ end }}
